body {
	background: none;
}

h1 {
	display: inline;
}

#menu {
	padding: 10px;
	padding-left: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #aaa;
	background-color: #fff;
}

#menu li {
	margin-right: 15px;
	display: inline;
}

#content h1 {
	padding: 0;
	background: transparent;
	margin-bottom: 20px;
	font-size: 140%;
	color: #000;
}

#footer {
	clear: both;
	margin-top: 0;
	height: auto;
	font-family: arial, sans-serif;
	font-size: 80%;
	float: right;
	color: #666;
	background: none;
}

#footer img {
	vertical-align: middle;
}

#header {
	background: url(../legacy/images/bg-header.jpg) repeat-x top;
}

#header h1 {
	width: auto;
}

.col-sm-6-1 {
	margin-top: 15px;
}

#titulo {
	overflow: auto;
}

.edit_icon, .trash_icon {
	text-align: left;
	text-indent: 25px;
	float: left;
}

.add_icon {
	text-align: left;
	text-indent: 35px;
	float: right;
	padding: 5px 0px;
}

.texto_enlace{
	display:inline;
	 margin-left: 4px;
}

/* Para añadir el texto que se quiera en el enlace antes del que está puesto en HTML
.add_icon:BEFORE {
	content: "Añadir"
}*/
@media ( max-width :767px) {
	.texto_enlace {
		display: none;
	}
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
}

span {
	font-weight: bold;
}